
body {
    background-color: #DAD7CD;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #a3b18a;
    color: #344E41;
    text-align: center;
}

#introSection {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 230px;
    padding-left: 40px;
}

#jsSection {
    padding-left: 20px;
    padding-bottom: 20px;

}

#bottomSection {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 100px;
    background-color: #a3b18a;
    
}

.goHome {
    overflow: hidden;
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    text-align: center;
    background-color: #a3b18a;
}

button {
    margin-right: 10px;
    margin-left: 5px;
}

#intropic {
    width: 30vw;
    height: auto;
    float: left; 
    margin-right:10px; 
    margin-bottom:5px;
}

#shapeimg {
    width: 30vw;
    height: auto;
    float: left; 
    margin-right:10px; 
    margin-bottom:5px;
}

#commentBox {
  height: auto; 
  width: 220px; 
  position: fixed; 
  z-index: 1; 
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 40px;
  color: grey;
}



.form {
  height: 100vh;
  background-color: #344e41; 
  text-align: center;
  padding-top: 20px;
}

.form label{
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #a3b18a;
  display: block;
}

.form input, textarea {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #a3b18a;
  border-width: 3px;
}

#todoListPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    font-size: 20px;
}